# Configuración del Servidor
PORT=5000
NODE_ENV=development

# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=academia_alba
DB_PORT=3306

# Seguridad (JWT)
# Genera uno fuerte, ej: openssl rand -base64 32
JWT_SECRET=tu_secreto_super_seguro_aqui_no_uses_el_default
JWT_EXPIRE=365h

# Frontend (CORS)
FRONTEND_URL=http://localhost:3000
